@model LAgarden_CNPM.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<head>
    @section head{
        <link href="~/Public/MyCSS/CangiuaCss.css" rel="stylesheet" />
    }
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="my-swapper">
        <div class="form-horizontal">
            @if (ViewBag.Success != null)
            {
                <div class="alert alert-success">@ViewBag.Success</div>
            }
            <h4>Thay đổi mật khẩu</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div class="row">
                    <div class="my-a-infor">Mật khẩu cũ: </div>@Html.PasswordFor(model => model.oldPassword, new { @class = "form-control boderText" })
                    @Html.ValidationMessageFor(model => model.oldPassword, "", new { @class = "text-danger my-margin-left" })
                </div>
            </div>

            <div class="form-group">

                <div class="row">
                    <div class="my-a-infor">Mật khẩu mới: </div>@Html.PasswordFor(model => model.Password, new { @class = "form-control boderText" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger my-margin-left" })
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="my-a-infor">Xác nhận mật khẩu: </div>@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control boderText" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger my-margin-left" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Thay đổi" class="btn btn-success" />
                    <div class="btn btn-primary"><a class="my-a-btn" href="/dat-mon/">Quay lại</a></div>
                </div>
            </div>
        </div>
        </div>
        }

        
