@model MyClass.Model.CTMONAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHI TIẾT MÓN ĂN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID Danh Mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMucID)
        </dd>

        <dt>
            Tên Món Ăn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMonAn)
        </dd>

        <dt>
            Số Lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Chi Tiết Món Ăn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTietMA)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            Khuyến Mãi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaSale)
        </dd>

        <dt>
            Hình Ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgMA)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>

    </dl>
</div>
<p class="btn btn-sm btn-success" style="background: #ffffff; border: 2px solid #000000;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDMA })

</p>

<div>
    <a href="@Url.Action("",("CTMONAN"))" class="btn btn-sm btn-success">Quay Lại</a>
</div>