@model PagedList.IPagedList<MyClass.Model.CTMONAN>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section headcss{

    <link href="~/Areas/Admin/Public/MyCSS/PageCSS.css" rel="stylesheet" />
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div clas="col-md-6">
                <strong>TẤT CẢ SẢN PHẨM</strong>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action(("Create"),("CTMONAN"))" class="btn btn-sm btn-success">Thêm Mới</a>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <table class="table table-bordered table-hover table-striped ">
        <tr style="text-align:center">
            <th>
                ID Danh Mục
            </th>
            <th>
                Tên Món Ăn
            </th>
            <th>
                Số Lượng
            </th>
            <th>
                Chi Tiết Món Ăn
            </th>
            <th>
                Giá
            </th>
            <th>
                Giá Khuyến Mãi
            </th>
            <th>
                Hình Ảnh
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DanhMucID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMonAn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td >
                    <p>@Html.DisplayFor(modelItem => item.ChiTietMA)</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgMA)
                </td>
                <td>
                    <p class="btn btn-sm btn-success" style="background: #ffffff; border: 2px solid #000000;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.IDMA })
                    </p>
                    <p class="btn btn-sm btn-success" style="background: #ffffff; border: 2px solid #000000;">
                        @Html.ActionLink("Delete", "Delete", new { id = item.IDMA })
                    </p>
                </td>
            </tr>
        }
    </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                                                    new PagedListRenderOptions
                                                    {
                                                        LiElementClasses = new string[] { "page-item" },
                                                    })


</div>