@model MyClass.Model.DANGKY

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DANGKY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Đăng Nhập
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>
        <dt>
            Mật Khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            Email Đăng Ký
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailDK)
        </dd>

        <dt>
            Địa Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiDK)
        </dd>

        <dt>
            Họ Và Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDayDu)
        </dd>

        <dt>
            Câu Hỏi Bảo Mật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CauHoiBaoMat)
        </dd>

        <dt>
            Ngày Sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            Giới Tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinhDK)
        </dd>

        <dt>
            Mã Quyền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaQuyen)
        </dd>

    </dl>
</div>
<p class="btn btn-sm btn-success" style="background: #ffffff; border: 2px solid #000000;">

    @Html.ActionLink("Edit", "Edit", new { id = Model.TenDangNhap })

</p>

<div>
    <a href="@Url.Action("",("DANGKY"))" class="btn btn-sm btn-success">Quay Lại</a>
</div>