@model MyClass.Model.HoaDon

@{
    ViewBag.Title = "Hoá đơn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section headcss{
    <link href="~/Areas/Admin/Public/MyCSS/KhungHinhCSS.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Public/MyCSS/CangiuaCss.css" rel="stylesheet" />
}
<h2>Hoá đơn</h2>
<div class="mypadding-admin">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Chỉnh sửa</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <div class="row my-padding-khung">
                <div class="my-a-infor">UserName: </div>@Html.TextBoxFor(model => model.username, new { @class = "form-control my-background boderText" })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row my-padding-khung">
                <div class="my-a-infor">Tên người nhận: </div>@Html.TextBoxFor(model => model.NameRecieve, new { @class = "form-control my-background boderText" })
                @Html.ValidationMessageFor(model => model.NameRecieve, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row my-padding-khung">
                <div class="my-a-infor">Địa chỉ người nhận: </div>@Html.TextBoxFor(model => model.AddressRecive, new { @class = "form-control my-background boderText" })
                @Html.ValidationMessageFor(model => model.AddressRecive, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row my-padding-khung">
                <div class="my-a-infor">Số điện thoại: </div>@Html.TextBoxFor(model => model.Phone, new { @class = "form-control my-background boderText" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row my-padding-khung">
                <div class="my-a-infor">E-mail: </div>@Html.TextBoxFor(model => model.EmailRecieve, new { @class = "form-control my-background boderText" })
                @Html.ValidationMessageFor(model => model.EmailRecieve, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row my-padding-khung">
                <div class="my-a-infor">Tổng tiền: </div>@Html.TextBoxFor(model => model.TongTien, new { @class = "form-control my-background boderText" })
                @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row my-padding-khung">
                <div class="my-a-infor">Ngày lập: </div>@Html.TextBoxFor(model => model.NgayLap, new { @class = "form-control my-background boderText" })
                @Html.ValidationMessageFor(model => model.NgayLap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row my-padding-khung">
                <input type="submit" value="Sửa" class="btn btn-sm btn-success my-button-width my-margin-left" />
                <a href="@Url.Action("",("HoaDon"))" class="btn btn-sm btn-success my-button-width my-margin-left">Quay Lại</a>
            </div>
        </div>
        </div>
    }

</div>