@model PagedList.IPagedList<MyClass.Model.HoaDon>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section headcss{

    <link href="~/Areas/Admin/Public/MyCSS/PageCSS.css" rel="stylesheet" />
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div clas="col-md-6">
                <strong>HOÁ ĐƠN</strong>
            </div>

        </div>
    </div>
</div>

<div class="card-body">
    <table class="table table-bordered table-hover table-striped">
        <tr style="text-align:center">
            <th>
                Tên TK
            </th>
            <th>
                Tên nhận hàng
            </th>
            <th>
                Địa chỉ nhận
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Email
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Ngày lập
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameRecieve)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressRecive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailRecieve)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLap)
                </td>
                <td>
                    <p class="btn btn-sm btn-success" style="background: #ffffff; border: 2px solid #000000;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    </p>
                    <p class="btn btn-sm btn-success" style="background: #ffffff; border: 2px solid #000000;">
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </p>
                    <p class="btn btn-sm btn-success" style="background: #ffffff; border: 2px solid #000000;">
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </p>
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                                       new PagedListRenderOptions
                                       {
                                           LiElementClasses = new string[] { "page-item" },
                                       })

</div>