@model MyClass.Model.NHANVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NHANVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayVaoLam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayVaoLam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDTNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDNV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
