@model IEnumerable<MyClass.Model.DSMONAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div clas="col-md-6">
                <strong>TẤT CẢ SẢN PHẨM</strong>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action(("Create"),("DSMONAN"))" class="btn btn-sm btn-success">Thêm Mới</a>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <table class="table table-bordered table-hover table-striped">
        <tr style="text-align:center">
            <th>
                Tên Món Ăn
            </th>
            <th>
                Giá
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                Trạng Thái
            </th>
            <th>
                Hình Ảnh
            </th>
            <th>
                ID Danh Mục
            </th>
            <th>Công Cụ</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMonAn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DanhMucID)
                </td>
                <td>
                    <p class="btn btn-sm btn-success" style="background: #ffffff; border: 2px solid #000000;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.IDMA })
                    </p>
                    <p class="btn btn-sm btn-success" style="background: #ffffff; border: 2px solid #000000;">
                        @Html.ActionLink("Details", "Details", new { id = item.IDMA })
                    </p>
                    <p class="btn btn-sm btn-success" style="background: #ffffff; border: 2px solid #000000;">
                        @Html.ActionLink("Delete", "Delete", new { id = item.IDMA })
                    </p>
                </td>
            </tr>
        }

    </table>
</div>